* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  /* padding-top: 2rem;  */
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(69, 75, 87, 0.12),
    0 0 0 1px rgba(152, 161, 178, 0.1);
    width: 90vw;
    margin-left: 5vw;
    margin-top: 21px;
    overflow-x: hidden;
}

.table {
  overflow-y: auto;
}

#dataTable {
  border-collapse: collapse;
}

thead {
  color: #464f60;
  background-color: #f7f9fd;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
}

td {
  padding: 10px 15px;
  margin: 0;
  height: 40px;
}

th {
  padding: 10px 15px;
}

#pagination {
  display: flex;
  justify-content: center;
}

.status {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.open {
  background-color: #f0f1fa;
  color: #4f5aed;
  border-radius: 20px;
  height: 20px;
}
.paid {
  background-color: #e1fcef;
  color: #14804a;
  border-radius: 20px;
  height: 20px;
}
.inactive {
  background-color: #e9edf5;
  color: #5a6376;
  border-radius: 20px;
  height: 20px;
}
.due {
  background-color: #faf0f3;
  color: #d12953;
  border-radius: 20px;
  height: 20px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

tr:nth-child(even) {
  background-color: #f9fafc;
}

.row-options {
  visibility: hidden;
  position: absolute;
  right: 10px;
}

tr:hover .row-options {
  visibility: visible;
}

.settings-icon {
  visibility: hidden;
  cursor: pointer;
}

.popup {
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 8rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08),
    0 15px 35px -5px rgba(17, 24, 38, 0.2), 0 0 0 1px rgba(152, 161, 178, 0.1);
}

.popup-option {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.popup-option img {
  width: 15px;
}

.popup,
.edit-form {
  position: absolute;
  top: 200px;
  width: 90vw;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  z-index: 1000;
  margin-left: 5vw;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 10px;
}

.search {
  position: relative;
}
.search img {
  padding-left: 30px;
  background-image: url("search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px center;
}

#addCustomerButton {
  background-color: #2264e5;
  cursor: pointer;
  color: white;
  padding: 19px 12px;
  border: none;
  border-radius: 6px;
  height: 32px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableBottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 95vw;
  margin: 15px 0;
  padding-bottom: 15px;
}
#pagination {
  margin-left: 15px;
}

.rowPerPage {
  margin-top: 10px;
}

[data-page] {
  display: none;
}

[data-page="1"] {
  display: table-row;
}

.pagination-button {
  margin: 0 5px;
  cursor: pointer;
}

.pagination-button.active {
  font-weight: bold;
  text-decoration: underline;
}

.popup {
  width: 100px;
}

#searchInput {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  border-radius: 10px;
  background: transparent url("search.svg") no-repeat 13px;
}

#deleteButton {
  margin-left: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
}
